project_name                 = "mountain-blog"
environment                  = "dev"
location                     = "westeurope"
static_web_app_sku_tier      = "Free"
static_web_app_sku_size      = "Free"
preview_environments_enabled = true

extra_tags = {
  owner      = "solo-engineer"
  repository = "Mountain-blog-project-blueprint"
}
